.t2-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.t2-top {
    background-color: #FFFFFF;
    border-radius: 5px;
    flex: 0 1 100px; /* Define uma altura fixa menor para a parte superior */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alinha à esquerda */
    padding: 10px; /* Ajusta o preenchimento */
    border-bottom: 2px solid #ccc;
}

.t2-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0; /* Remove margem padrão */
}

.t2-subtitle {
    font-size: 18px;
    margin: 5px 0 10px 0; /* Margem para o subtítulo */
}

.t2-bottom {
    flex: 1; /* Permite que a parte inferior ocupe o restante do espaço */
    display: flex;
    padding: 20px;
    width: 100%;
}

.t2-box {
    flex: 1; /* Faz com que cada box ocupe o mesmo espaço */
    margin: 0 5px; /* Espaçamento entre as divs */
    background-color: white; /* Fundo branco */
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px; /* Arredondamento dos cantos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

.t2-box:first-child {
    margin-left: 0; /* Remove margem esquerda do primeiro box */
}

.t2-box:last-child {
    margin-right: 0; /* Remove margem direita do último box */
}

.t2-top h2{
    font-size: 13px; /* Tamanho do subtítulo */
    margin: 5px 0 0; /* Margem acima do subtítulo */
}

.t2-extra {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.t2-box {
    flex: 1; /* Faz com que cada box ocupe o mesmo espaço */
    margin: 0 5px; /* Espaçamento entre as divs */
    background-color: white; /* Fundo branco */
    padding: 10px; /* Reduzido para menor altura */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px; /* Arredondamento dos cantos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 70px
}

.t2-box-name {
    font-size: 14px; /* Tamanho menor para o nome */
    font-weight: normal; /* Peso normal para o nome */
    margin: 0; /* Remove margem padrão */
}

.t2-box-value {
    font-size: 24px; /* Tamanho maior para o valor */
    font-weight: bold; /* Peso em negrito para o valor */
    color: #333; /* Cor mais escura para o valor */
    margin: 5px 0 0 0; /* Margem acima do valor */
}

.clickable {
    flex: 1;
    margin: 0 5px; /* Espaçamento entre as divs */
    background-color: #FFFFFF; /* Cor de fundo padrão */
    padding: 10px; /* Preenchimento interno */
    border-radius: 5px; /* Cantos arredondados */
    text-align: center; /* Centraliza o texto */
    height: 20px; /* Altura fixa para as divs */
    cursor: pointer; /* Cursor padrão */
    transition: background-color 0.3s, color 0.3s; /* Transição para cores */
}

.clickable.active  {
    background-color: #6AB023; /* Cor ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}
.receitas {
    background-color: #E0F5CC; /* Cor azul para as receitas */
    border: 1px solid #6AB023;
}

.despesas {
    background-color: #FDE8EA; /* Cor azul para as receitas */
    border: 1px solid #DB1427;
}

.t2-divider {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-top: 10px; /* Espaçamento acima do divisor */
}
.bottom-container {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #FFFF;
    height: 48rem;
}

.t2-title {
    margin: 10px;
}

.t2-subtitle {
    font-size: 13px; /* Tamanho do subtítulo */
    margin: 10px; /* Margem acima do subtítulo */
}

.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Fundo escuro com transparência */
    padding-top: 60px;
}

.select {
    appearance: none; /* Remove a aparência padrão do select */
    background-color: #fff; /* Cor de fundo */
    padding-right: 30px; /* Espaço para a seta */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23888888"/></svg>'); /* Seta personalizada */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Posição da seta */
    background-size: 10px; /* Tamanho da seta */
}


.butao {
    padding: 10px 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%; /* A tabela ainda ocupa 100% da largura do container */
    margin-top: 20px; /* Espaço acima da tabela */
}


th, td {
    padding: 10px;
    text-align: left;
    border: none; /* Remove as linhas ao redor das células */
}

th {
    background-color: #6AB023;
    color: white;
}

/* Adiciona uma linha verde no canto direito da tabela */
table tbody tr:last-child td:last-child {
    border-right: 2px solid green;
    height: 100%;
}

.input-sla {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
    transition: border-color 0.3s;
    margin: 5px;
}

.butao {
    width: 50%; /* Botão ocupa 80% da largura da div principal */
    padding: 10px;
    background-color: #6AB023; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px; /* Faz o botão ficar na parte inferior */
    margin-left: auto;
}