.t2-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.t2-top {
    background-color: #FFFFFF;
    border-radius: 5px;
    flex: 0 1 100px; /* Define uma altura fixa menor para a parte superior */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alinha à esquerda */
    padding: 10px; /* Ajusta o preenchimento */
    border-bottom: 2px solid #ccc;
}

.t2-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0; /* Remove margem padrão */
}

.t2-subtitle {
    font-size: 18px;
    margin: 5px 0 10px 0; /* Margem para o subtítulo */
}

.t2-bottom {
    flex: 1; /* Permite que a parte inferior ocupe o restante do espaço */
    display: flex;
    padding: 20px;
    width: 98%;
}

.t2-box {
    flex: 1; /* Faz com que cada box ocupe o mesmo espaço */
    margin: 0 5px; /* Espaçamento entre as divs */
    background-color: white; /* Fundo branco */
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px; /* Arredondamento dos cantos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

.t2-box:first-child {
    margin-left: 0; /* Remove margem esquerda do primeiro box */
}

.t2-box:last-child {
    margin-right: 0; /* Remove margem direita do último box */
}

.t2-top h2{
    font-size: 13px; /* Tamanho do subtítulo */
    margin: 5px 0 0; /* Margem acima do subtítulo */
}

.t2-extra {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.t2-box {
    flex: 1; /* Faz com que cada box ocupe o mesmo espaço */
    margin: 0 5px; /* Espaçamento entre as divs */
    background-color: white; /* Fundo branco */
    padding: 10px; /* Reduzido para menor altura */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px; /* Arredondamento dos cantos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 70px
}

.t2-box-name {
    font-size: 14px; /* Tamanho menor para o nome */
    font-weight: normal; /* Peso normal para o nome */
    margin: 0; /* Remove margem padrão */
}

.t2-box-value {
    font-size: 24px; /* Tamanho maior para o valor */
    font-weight: bold; /* Peso em negrito para o valor */
    color: #333; /* Cor mais escura para o valor */
    margin: 5px 0 0 0; /* Margem acima do valor */
}


.clickable {
    flex: 1;
    margin: 0 5px; /* Espaçamento entre as divs */
    background-color: #FFFFFF; /* Cor de fundo padrão */
    padding: 10px; /* Preenchimento interno */
    border-radius: 5px; /* Cantos arredondados */
    text-align: center; /* Centraliza o texto */
    height: 20px; /* Altura fixa para as divs */
}

.clickable:hover {
    background-color: #6AB023; /* Cor ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
    cursor: pointer; /* Cursor para indicar que é um link */
}
.receitas {
    background-color: #E0F5CC; /* Cor azul para as receitas */
    border: 1px solid #6AB023;
}

.despesas {
    background-color: #FDE8EA; /* Cor azul para as receitas */
    border: 1px solid #DB1427;
}

.t2-divider {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-top: 10px; /* Espaçamento acima do divisor */
}
.bottom-container {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #FFFF;
}

.t2-title {
    margin: 10px;
}

.t2-subtitle {
    font-size: 13px; /* Tamanho do subtítulo */
    margin: 10px; /* Margem acima do subtítulo */
}